



#chart_placeholder {
  text-align: center;
  margin: 20px 20px 20px 0px;
  color:rgb(255, 255, 255);
  position: absolute;
  padding-left: 75px;
  height: 50%;
}

.labeltext {
  color: rgb(0, 0, 0);
}

#circle circle {
  fill: none;
  pointer-events: all;
}

path.chord {
  stroke: #000;
  stroke-width: .10px;
}

#circle:hover path.fade {
  display: none;
}




svg {
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Exo 2', sans-serif;
  height: 150%;
  width: 150%;
}
